[2017-07-19 04:38] danspam opened #1 "Exception in Plugin Whilst Navigating Javascript File"
### Installed product versions
- Visual Studio: 2017 Community
- This extension: 1.0.79

### Description
The following error occurred when navigating around a javascript file:

`System.ArgumentNullException: Value cannot be null.
Parameter name: key
   at System.Collections.Concurrent.ConcurrentDictionary2.TryRemove(TKey key, TValue& value)
   at Microsoft.VisualStudio.JSON.Package.ErrorSources.JS

[2017-07-24 06:17] jwldnr commented on #1
Thank you for the report.
This exception is new to me, but I'll see if I can reproduce this on my side. I'll report back here with my findings.

[2017-07-24 09:42] jwldnr commented on #1
I am unable to reproduce- however I've changed the code to not update all the sinks by passing null to FactorySnapshotChanged.

I am closing this as a a new version (1.0.86) will soon be available on the Marketplace.
If updating wont solve your problem, post back here and I'll reopen this issue.

[2017-07-24 09:43] #1 closed

[2017-08-09 19:29] benrondeau opened #3 "Inability to Target Project's .eslint File"
### Installed product versions
- Visual Studio: 2017 Professional, v15.2
- This extension: 1.0.89

### Description
As [documented](https://github.com/jwldnr/VisualLinter#getting-started) in the Getting Started section of the README, this extension targets the `.eslintrc` file in the user's root directory I can't find a place to configure the plugin to look for my project's `.eslintrc` file, so I h

[2017-08-09 21:06] philwsac commented on #3
Hi @benrondeau. I think this extension does what you want: If you put a .eslintrc file at the root of your project (or in a folder of your project), ESLint (via this extension) will pick it up and use it.

I could be mistaken, but my understanding is this extension operates outside of the Visual Studio / Web Code Analysis configuration. For my personal use, I turned off the Visual Studio 2017 ESLi

[2017-08-09 21:46] benrondeau commented on #3
Unfortunately I cannot get this plugin to pickup the `.eslintrc` file in my project. If I can do that, my problems are solved.

How can I do that?

[2017-08-09 22:28] philwsac commented on #3
The extension is a little picky, as it is very new, so it's easy for it to not work. My understanding is this:
 * An .eslintrc file is needed in your Windows user home folder. The extension will not work if nothing is there.
 * You need to have all the ESLint plugins that are listed in your ESLint config files. For example, if your root config has react stuff in it, it's possible ESLint is throwin

[2017-08-11 11:54] jwldnr commented on #3
As @philwsac pointed out the extension should target an `.eslint` file in the current project directory before the user root directory. However I discovered this by coincidence and I will update the extension once I get back from my vacation with an option to target an `.eslint` file in the current project directory explicitly.

Sorry for not getting back to you earlier but I'll get on this when b

[2017-08-11 18:19] benrondeau commented on #3
Thanks so much!

[2017-08-16 22:14] jwldnr commented on #3
I have addressed the issue in the following pull request (merged into master): https://github.com/jwldnr/VisualLinter/pull/4

The default behavior of the extension is now changed from using a global config to using a local config (relative to the file being linted).

I have also provided an options page with a checkbox to toggle the previous behavior (using a global config). You can find the new o

[2017-08-16 22:14] #3 closed

[2017-08-17 17:50] benrondeau commented on #3
Thanks so much!

[2017-08-17 18:08] benrondeau opened #5 "Parsing Error"
### Installed product versions
- Visual Studio: 2017 Professional
- This extension: 1.0.108

### Description
Getting this error in the output window for VisualLinter:

`Unexpected character encountered while parsing value: C. Path '', line 0, position 0.`

This is my `.eslintrc` file contents:

[code]

### Steps to recreate
1. Open Visual Studio
2. Open a JavaScript file
3. Open output window and

[2017-08-17 20:26] jwldnr commented on #5
You're seeing this message because there was a problem with your `.eslintrc`, for example a module required by the config is missing.

I have updated the code in version **1.0.111** to log the output of ESLint which could help you identify the problem.

[2017-08-18 02:44] benrondeau commented on #5
Thanks!

[2017-08-18 19:13] jwldnr commented on #5
Did the new logging entry help you find what was missing? @benrondeau

[2017-08-18 21:38] benrondeau commented on #5
I am now getting eslint error output and working on debugging from that.

[2017-08-19 19:39] jwldnr commented on #5
OK. I'll consider this issue solved then! Feel free to open a new issue if you still have problem with the extension!

[2017-08-19 19:39] #5 closed

[2017-08-28 16:51] sgordon3 opened #6 "Feature Request - Prefer a local installation of ESLint over global"
### Installed product versions
- Visual Studio:  2017 Professional
- VisualLinter 1.0.116
- eslint 7.0.1

### Description
VisualLinter will find a local eslintrc file and use it for configuration but it still requires that ESLint and all of it's plugins are installed globally. If you want to use different versions of plugins for different project along with VisualLinter, you can't with this versio

[2017-08-30 01:04] jpreese commented on #6
Completely agree. I've opened a PR to get this implemented.

[2017-08-30 05:34] jwldnr commented on #6
I've had this idea for a while, just never got around to implement it. I'm looking at @jpreese  pull request #7 and I'm thinking we'll have this available later today!

[2017-08-30 05:46] jpreese commented on #6
That would be awesome, @jwldnr ! We're actively looking into eslint extensions for VS2017, since the default capabilities just don't seem to be there (eslintrc in user profile, no highlighting within the IDE).

This gets us everything we need with the exception of this piece.

[2017-08-30 06:50] jwldnr commented on #6
implemented in #7

[2017-08-30 06:50] #6 closed

[2017-08-30 14:37] jpreese opened #8 "Broaden folders to search when looking for ESLint installation"
I've been using this extension on a few projects lately, just trying to get it as much exposure as possible, and noticed the below.

### Installed product versions
- Visual Studio: 2017 Professional
- This extension: 1.0.120

### Description
Broaden directories to search in when trying to find a local eslint installation

### Steps to recreate
1. Put the node_modules directory above the solution d

[2017-08-30 14:42] jpreese commented on #8
FWIW it might be possible to simply run "npm root", get the output, and search from that point.

[2017-08-31 05:19] jwldnr commented on #8
Thank you for the suggestion.
I've been looking into a better way to detect eslint config/installation recently but it did not land in anything.

I'll be looking into this further this week and see if I can decide on a better way.
I'll update this issue with my findings along the way.

[2017-09-01 07:39] jwldnr commented on #8
This issue is addressed in #9

If you're up to it you can get the latest beta build from [here](http://vsixgallery.com/extension/21d9f99b-ec42-4df4-8b16-2a62db5392a5/) and test before it is released on the Marketplace.

[2017-09-01 13:25] jpreese commented on #8
Looks good to me 👍

[2017-09-01 14:02] jpreese opened #10 "Color code errors and warnings in IDE"
### Installed product versions
- Visual Studio: 2017 Professional
- This extension: 1.0.120

### Description
When linting, the color used in the IDE is always green. Regardless if the linting issue is an error or a warning. The Output window does show this distinction.

### Steps to recreate
1. Add a linting rule as a warning and a linting rule as an error
2. Violate these rules within code

### C

[2017-09-01 16:13] #10 closed

[2017-09-01 16:15] jwldnr commented on #10
Thank you for your report @jpreese!

This has already been addressed for the error list (as you mention) in pull request #2 (courtesy of @philwsac).
I've gone ahead and added the same distinction in the buffer depending on rule severity.
You can view the changes in this commit: 99340c79acdeb643ec746c4b9d0a81f9d74e96da

[2017-09-01 16:21] #8 closed

[2017-09-01 16:25] jwldnr commented on #8
Cool!

A new version `1.0.148` will soon be available on the Marketplace.

[2017-09-07 18:53] jpreese opened #12 "Poor Indentation Throws Errors"
### Installed product versions
- Visual Studio: 2017 Professional
- This extension: 1.0.151

### Description
When javascript is not indented properly, the VisualLinter spits out errors in the output window. E.g.

Specified argument was out of the range of valid values.
Parameter name: Start column (?_v1_3996_'{') greater than end column (3990) for line 128
Specified argument was out of the range o

[2017-09-08 05:58] jwldnr commented on #12
Thank you for your report @jpreese ,

Unfortunately I am unable to reproduce this on my end.
Is there any chance you could provide me with the full affected `.js file` (where these errors are presented) but also your `ESLint config file`?

[2017-09-08 13:35] jpreese commented on #12
I did a little debugging when it happened and it was adding a -1 to EndColumn which would then make StartColumn larger. All of the cases that I saw were do to wonky brace placement.

Though trying to reproduce it now, I'm unable to do so.

[2017-09-08 13:43] jwldnr commented on #12
that is because eslint is 1 index based whereas visual studio is 0 based.

I did some searching and found that ESLint sometimes from the result return a larger value start column than end column. this could be to a number of reasons for example if the file has mixed tabs and spaces.

I could try and fix so that this never happens but would need something to test against.
I will keep this issue ope

[2017-09-09 09:33] jwldnr commented on #12
I have tried addressing this issue by making changes to the way this extension generate ranges from ESLint messages.

A new version `1.0.153` will soon be available on the Marketplace.

Please post back here if updating the extension does not help. I will keep this issue open a while longer.

[2017-09-09 10:04] jwldnr commented on #12
Alright, think I've located the bug. The problem was that I ignored the endline and always used startline when eslint reported full range.

Fixed in commit c58ffdba7c23e22cb2416b910a1be0b1cda29c35

A new version `1.0.154` will soon be available on the Marketplace.

[2017-09-09 10:06] #12 closed

[2017-09-11 19:38] andre-f-paggi opened #14 "Visual Studio does not display any errors"
### Installed product versions
- Visual Studio: 2017 Enterprise
- This extension: 1.0.158

### Description
I just installed this extension, but I couldn't make it work yet. There are no messages being displayed in the Error List.

### What I've done and tried
The Eslint executable is in the PATH global variable and the eslint configuration file is valid, since I tested it on the command line using

[2017-09-11 19:58] andre-f-paggi commented on #14
I am sorry, found the error in the Output window.

The problem was that I didn't installed eslint locally, I thought that installing it globally would work

My bad!

[2017-09-11 19:58] #14 closed

[2017-09-12 03:25] jwldnr commented on #14
installing ESLint globally still works if you tick the checkbox 'Use personal ESLint config instead of local' under Tools > Options > VisualLinter.

[2017-09-14 16:56] andre-f-paggi opened #16 "[Suggestion/Discussion] Consider local ".eslintignore" file to evaluate open files"
I noticed that the extension only checks opened files.

Is it possible to add support for checking only files not ignored by ".eslintignore" file?

Is this suggestion valid for the intention of the extension and the creator?

Thanks!

[2017-09-15 05:51] jwldnr commented on #16
This is definitely something that should be a part of this extension-- thank you for your suggestion!

This should also be easily implemented since I already have the traversing of directories to find config relative to the file being linted logic in place. (they should be similar)

Question:
The traversing of directories to find the `.eslintignore` file doesn't have to be as deep as finding the c

[2017-09-19 05:46] jwldnr commented on #16
addressed and implemented in #17
please open a new issue on GitHub if you you experience any problems.

[2017-09-19 05:47] #16 closed

[2017-09-19 05:48] jwldnr commented on #16
A new version `1.0.185` will soon be available on the Marketplace.

[2017-09-19 09:44] jsaarija opened #18 "Linting not running for .jsx files"
### Installed product versions
- Visual Studio Enterprise 2017
- This extension: 1.0.187

### Description
It looks like VisualLinter only runs ESLint against .js files. Unfortunately, most of the javascript files in our project are .jsx files, being a React project. I'm not an ESLint expert by any means but my understanding is that ESLint needs to be specifically run with arguments that include .j

[2017-09-19 11:12] jwldnr commented on #18
I'll have a look at this!

[2017-09-24 11:45] jwldnr commented on #18
Fixed in #19

A new version `1.0.189` will soon be available on the Marketplace.
I'll go ahead and close this issue. Please open a new issue if you experience any problems.

[2017-09-24 11:45] #18 closed

[2017-09-25 08:47] jsaarija commented on #18
Yes, this works now. Thank you!

[2017-09-25 16:24] JWess opened #20 "Could not load file or assembly 'Microsoft.VisualStudio.Threading"
### Installed product versions
- Visual Studio: 2017 Enterprise v15.2
- This extension: Just installed today

### Description
I installed VisualLinter just now, but when I check the Output from VisualLinter, I am greeted by the following error message:

My project has a .eslintrc.json file at the solution directory level.

![image](https://user-images.githubusercontent.com/8697891/30819378-8005b4c

[2017-09-26 05:20] jwldnr commented on #20
This is, based on my own experience, an annoying bug with Visual Studio (update 2?). Updating to the latest version of Visual Studio (Update 3+) under `Tools > Extensions and Updates... > Updates > Product Updates` should resolve your issue.

However, since this seem to be a recurring issue I am going to revert the line of code causing this error to appear. I will update my comment here once the u

[2017-09-26 05:24] jwldnr commented on #20
A new version `1.0.191` will soon be available on the Marketplace.
I will go ahead and close this issue. If updating the extension does not solve the bug, please post back here and I'll reopen the issue.

Thank you for your report!

[2017-09-26 05:39] jwldnr commented on #20
After a little more digging I found that the version of `Microsoft.VisualStudio.Threading` changed from 15.0.0.0 to 15.3.0.0 in Visual Studio 2017 Update 3. I've added a binding redirect which should help counter this issue.

I'll reopen this issue so please post back here if updating the extension to version `1.0192` or higher does not help.

[2017-09-26 16:48] JWess commented on #20
I just updated the extension to `1.0192` and restarted Visual Studio, but I seem to be getting the same error. I did not update Visual Studio yet, in case you want to continue to use me as a test bed.

![image](https://user-images.githubusercontent.com/8697891/30872720-0e6a0484-a2b9-11e7-8c59-717dc96b1ad9.png)

![image](https://user-images.githubusercontent.com/8697891/30872702-fc260e26-a2b8-11e7-

[2017-09-26 17:57] jwldnr commented on #20
Well that sucks.

You could help me troubleshoot this by starting with identifying your Visual Studio version.
Install the powershell module from here https://github.com/Microsoft/vssetup.powershell

by opening up powershell and enter `Install-Module VSSetup -Scope CurrentUser`
then proceed by writing `Get-VSSetupInstance`
You should end up with something like this:
![ps](https://user-images.githu

[2017-09-26 18:05] jwldnr commented on #20
Meanwhile, If you want to get started using this extension the CI build `version 1.0.193` available [here](http://vsixgallery.com/extension/21d9f99b-ec42-4df4-8b16-2a62db5392a5/) should fix the error for you.

Try and manually install this version of the extension and report back here if it fixes the error for you.

[2017-09-27 07:20] jwldnr commented on #20
This will take some time for me to dig into. I'm able to reproduce this and will attempt to debug in the near future. I've gone ahead and reverted the code change that produce the error.

A new version `1.0.195` will soon be available on the Marketplace that should fix your error. Please post back here once you've updated with the results. Thanks.

[2017-09-28 13:42] jwldnr commented on #20
After the sync process change the error seem to no longer be present. I'll go ahead and close this issue.
If you still have this problem post back here and I'll have another look!

[2017-09-28 13:42] #20 closed

[2017-10-12 07:54] magkal opened #21 "VisualLinter keeps getting disabled by Visual Studio 2017"
### Installed product versions
- Visual Studio: 2017 Profressional (running as administrator)
- This extension: 1.0.198
- Windows 10 x64

### Description
VisualStudio keeps disabling the extension for me, If i enable VisualStudio linter and restart Visual Studio, it mostly is active.
After working a while with .js-files, the next day i start visual studio VisualLinter is disabled.
Yesterday i got

[2017-10-13 05:00] jwldnr commented on #21
@magkal This problem could be caused by having multiple versions of the same extension installed. Before I investigate further, could you ensure that you only have one version of the extension installed?

[2017-10-15 14:24] sanjsanj opened #22 "Allow VisualLinter to use executable and config from specified directory"
### Installed product versions
- Visual Studio: 2017 Community.
- This extension: [1.0.198].

### Description
I would like to have VisualLinter run on JavaScript files in one directory whilst referencing the executable and config files from a sibling directory that is not in the ancestry tree of the current directory.

### Steps to recreate
1. Install the eslint package via npm in directory A.
2.

[2017-10-15 14:36] sanjsanj commented on #22
I'm a complete beginner with VS extensions and not an expert at C# either, but would you consider this a beginner friendly PR that I could have a go at making myself?

[2017-10-15 16:22] jwldnr commented on #22
Thank you for the suggestion @sanjsanj

I've thought about this but decided that manually specifying executable/config path from options would not make sense because the options are global, not project specific.

For example imagine that you'd manually set the executable/config path in options when working on `project A` to `path/to/project_a/eslint`, next time- when you load up `project B` the ex

[2017-10-15 17:52] sanjsanj commented on #22
@jwldnr Thank you for the response.  The reason I requested this is because I have a project where there are separate folders for the build tools and linter, and the source code, and they are siblings of each other.
So I need to install eslint in one folder and then have VisualLinter lint files in another parallel folder.
I've managed to edit your source code to hardcode in the folder name and it

[2017-10-16 05:08] jwldnr commented on #22
@sanjsanj I'm really glad to hear you got it working.

I will think about ways to implement this. My initial thought was to add additional folder search options.
Could you show me the folder structure for the project needing this functionality?

[2017-10-16 06:18] sanjsanj commented on #22
@jwldnr Yup sure.

`
- root\
  - tools\
    - node_modules\...\eslint.cmd
    .eslintrc.js
  - web\
    script.js
`

The folder names are different but this is the structure.  I want to lint root\web\script.js but the executable and config have to live inside of root\tools\ and I get an error in VS2017 because there's no eslint in \web\'s ancestry tree.

[2017-10-16 07:24] jwldnr commented on #22
@sanjsanj understood. Now I have something to experiment with!

My idea Is to- in options be able to specify additional "include folders" when traversing the ancestry tree.
For example, suppose you have the following folder structure:

[code]

and you have specified to **include "tools" as additional include directories**:

- when you lint `foo.js` no config is found, **does "tools" directory exis

[2017-10-16 16:39] sanjsanj commented on #22
@jwldnr That would work fine but another option would be just to be able to select a directory.  But hey, whichever way is great!

Can you please include this behaviour for the .eslintignore as well, cheers :)

[2017-10-17 12:40] magkal commented on #21
I don't have it installed for multiple versions of Visual Studio if that's what you mean. Just for Visual Studio 2017, however I've upgraded the extension a couple of times.
Did some googling and couldn't find anything pointing me in a direction how to see if the extension is installed in more than one version in the same version of Visual Studio.

[2017-10-17 12:46] jwldnr commented on #21
@magkal in Visual Studio under `Tools > Extensions and Updates...` in the list `Installed`, are there multiple entries of `Visual Linter`?
Tip: you can filter extension in the list by using `Search (Ctrl+E)` in the top right.

[2017-10-17 15:42] magkal commented on #21
There is just one entry of VisualLinter there.

[2017-10-18 11:45] jwldnr commented on #21
@magkal have you tried reinstalling the extension through `Tools > Extensions and Updates...`? I'm hoping this is just a random occurrence.

[2017-10-18 11:52] #21 closed

[2017-10-19 16:52] paparent commented on #18
Hi,

Dunno if I should write here or open a new ticket. I'm working on vuejs and need the .vue extension too :) That would be awesome!

Thanks..

[2017-10-19 17:05] jwldnr commented on #18
Hi @paparent the prefered way would be to create a new issue so that I can reference it in the pull request 👍 its no problem though, I'll add it to the list.

[2017-10-20 11:16] jwldnr commented on #18
@paparent Ok, so I looked into this a bit more and when you say `.vue` extension you mean [vue single file components](https://vuejs.org/v2/guide/single-file-components.html) correct? Because in that case I'd have to target only the `<script>..</script>` block and lint its content.

Please make a new issue and I'll look into implementing this in an upcoming release.

[2017-10-20 14:55] paparent opened #23 "VisualLinter doesn't run on all file in the directory, like .vue files."
### Installed product versions
- Visual Studio: 2017 Community 15.4.0
- This extension: 1.0

### Description
VisualLinter doesn't run on .vue files. Here's my .eslintrc file as an example:

[code]

### Steps to recreate
1. Add .vue file to the project
2. Configure eslint as the example above to support .vue files
3. Run Linter

### Current behavior
It doesn't run, but in command line, if I run wit

[2017-10-20 14:56] paparent commented on #18
@jwldnr Thanks :) it's #23 !

[2017-10-20 14:57] jwldnr commented on #23
Could you provide a sample `.vue` file for testing?

[2017-10-20 15:17] paparent commented on #23
[code]

[2017-10-21 09:48] #23 closed

[2017-10-23 12:28] Epaminaidos opened #26 "Show parsing-errors in error-list"
### Installed product versions
- Visual Studio: 2017 professional
- This extension: just installed

### Description
Parsing errors are only shown in the output-window.

### Steps to recreate
Create a js-file with only a single line: 1==0?;

### Current behavior
The error-list in VS is empty, the error is only shown in the output-window.

### Expected behavior
I think it would be more intuitive to

[2017-10-23 14:53] jwldnr commented on #26
Hi @Epaminaidos Thank you for your suggestion!
I agree that it would indeed be more intuitive to show this error in the error list instead of the output window.
I'll update back here once I've gotten around fixing it!

[2017-10-23 15:08] jwldnr commented on #26
I've reverted the changes made to catch the parser error message in version `1.0.223`, I honestly don't remember why I did this in the first place, but I'm sure we'll find out soon enough. (in before revert revert)

The new version will soon be available on the Market place.

[2017-10-23 15:08] #26 closed

[2017-10-27 10:52] jwldnr commented on #22
I've decided to reopen this issue since I'm now actively looking into implementing the feature.
You can track the changes being done [here](https://github.com/jwldnr/VisualLinter/tree/override)

[2017-10-27 18:16] #22 closed

[2017-10-27 18:18] jwldnr commented on #22
I've added support for this feature in version `1.0.237`. Please update the extension and report any issues you may find!

[2017-11-04 11:57] sanjsanj commented on #22
@jwldnr Sweet!  Thanks, I'll give it a shot.

[2017-11-08 12:15] rbrugnollo commented on #18
Hi, I'm running version 1.0.238 and the .jsx files are still not getting anylized.

I tried using 2 .eslintrc versions:

`{
  "extends": "airbnb",
  "plugins": [
    "react"
  ]
}`

and this:

`{
  "extends": "airbnb"
}`

Do I need to add more info to my config file to get it to work?

Thanks!

[2017-11-08 12:36] jwldnr commented on #18
@rbrugnollo No it should work. However since the `1.0.238` update you have to enable `.jsx` language support in Visual Studio under `Tools -> Options.. -> VisualLinter` (it is disabled by default since it needs additional plugins) see the [language support](https://github.com/jwldnr/VisualLinter#language-support) section of the readme.

If it still does not work after enabling `.jsx` language supp

[2017-11-08 12:44] rbrugnollo commented on #18
That was it, thank you very much @jwldnr .

[2017-11-13 19:29] ChristineBoersen opened #29 "feature: Run command after successful (no errors) lint"
Feature Request:
It would be nice to have the ability to run a command and output it's output to the output window on a successful lint.

[2017-11-14 06:05] jwldnr commented on #29
Hi @ChristineBoersen thank you for the feedback!

If I understand you correctly, you would like VisualLinter to output text similar to "linting done with no errors" in the output window?

[2017-11-20 18:06] fspafford opened #30 "Setting for using global eslint seems broken"
### Installed product versions
- Visual Studio: 2017 Professional
- This extension: 1.0.238

### Description
I installed eslint globally, and marked the global option in the Visual Studio configuration, but the output panel from VisualLinter says "fatal: no local eslint config found". I rebooted my PC but get the same result. Would I have better results if I removed eslint and reinstalled non-glob

[2017-11-20 18:38] jwldnr commented on #30
Thank you for the feedback @fspafford

If you want to get started with the extension fast then switching to the local variant should help since all options are set to default false.

However with that said I would like to get to the bottom of this problem:

Have you tried unchecking/checking the option again after you first received the "local" error message?

I am planning on adding a verbose log

[2017-11-20 19:19] fspafford commented on #30
You are welcome!

I have tried unchecking/checking the option, and see the same behavior.

[2017-11-21 07:51] jwldnr commented on #30
@fspafford I've pushed a new version (`1.0.240`) of VisualLinter to the Marketplace which should be available for download in a minute.

This new update adds a new option `Enable verbose logging` under
`Tools -> Options... -> VisualLinter -> Advanced`, please see below:

![verboselogging](https://user-images.githubusercontent.com/11960421/33060355-4228dfba-ce98-11e7-8a40-83e8e12652a3.png)

Once th

[2017-11-21 08:01] jwldnr commented on #29
Since it's been a week without feedback I'm going to close this issue.
Comment here with additional information If you want me to reopen the issue!

[2017-11-21 08:01] #29 closed

[2017-11-21 13:56] fspafford commented on #30
Yes.

The output is:
[GetPropertyValue] ShouldOverrideEslint value is False
[GetPropertyValue] EslintOverridePath value is
[GetPropertyValue] ShouldOverrideEslintConfig value is False
[GetPropertyValue] EslintConfigOverridePath value is
[GetPropertyValue] ShouldOverrideEslintIgnore value is False
[GetPropertyValue] EslintIgnoreOverridePath value is
[GetPropertyValue] EnableVerboseLogging value is

[2017-11-21 14:16] jwldnr commented on #30
Ok that's strange. But good. Now we'll have to see what value is used when actually linting. I'll have to push an update for you to test. I'll update here once it's available.

[2017-11-22 07:31] jwldnr commented on #30
Still unable to reproduce on my end,  but I've pushed a new version (`1.0.241`) to the Marketplace which should be available in just a minute. I've changed the name of the option so you'll need to re-enable it under Advanced options.

Ensure that option `UseGlobalEslint` is `true` when you open options (as you did previously), then save a javascript file you wanted to lint in Visual Studio and rep

[2017-11-28 17:37] jwldnr commented on #30
Hi @fspafford
Yep! that's exactly it, and should definitely be clarified, because:

You've told the extension to use a global ESLint **installation** (eg `npm install eslint --global`) but using a local ESLint **config**, is still default unless `Use personal ESLint config instead of local` is checked (value `true`) in options.

I'll update the notes section of the readme to include this informati

[2017-11-28 17:38] #30 closed

[2018-01-26 10:07] Kiruchi opened #34 ""Unexpected character encountered" in local ESLint installation but ok in global"
### Installed product versions
- Visual Studio: 2017 Enterprise
- This extension: 1.1.27

### Description
First, thanks a lot for the extension, I've been trying for a long time to have a decent ESLint integration in VS2017.

I am having an error when launching this extension with a local installation of ESLint (you can see on the top left ESLint is locally installed) :

![2018-01-26 10_52_18-micr

[2018-01-26 15:59] jwldnr commented on #34
Hey @Kiruchi ! Thanks for your report.

The first thing I notice is that the recursive folder traversing when finding `eslint` installation in `node_modules`, in your case is matching, and is using `gulp-eslint` instead of actual `eslint` installation (which should not happen).

It is possible that the version used is not compatible with your configuration (???).
Could you please be so kind as to

[2018-01-26 16:49] jwldnr commented on #34
I've published a new version `v1.1.34` to the Marketplace which alters the way that the ESLint executable path is resolved inside the `node_modules` directory. It should be available in just a moment.

Please update the extension through Visual Studio and use the new version for further testing.

[2018-01-29 09:44] Kiruchi commented on #34
I updated my local ESLint to 4.16.0 and VisualLinter to 1.1.41 and it is now working as expected.

Thank you for your time and for this extension.
Cheers.

[2018-01-29 09:44] #34 closed

[2018-01-29 09:45] jwldnr commented on #34
Awesome @Kiruchi ! Thanks for letting me know 😄

[2018-02-26 22:53] bpugh opened #37 "Add option to autofix issues on save"
### Installed product versions
- Visual Studio 2017 professional
- VisualLinter 1.1.47

### Description
The eslint extension for VS Code has an option to run eslint with the `--fix` parameter on save which will automatically fix any fixable issues in the current file. If this is feasible to implement it would be really nice to have this option in VisualLinter. Thoughts?

Thanks for the great exten

[2018-02-27 07:23] jwldnr commented on #37
Hi @bpugh and thanks for the feedback!

This is something I've been meaning to implement sometime _soon_. It is even listed in the [CHANGELOG.md](https://github.com/jwldnr/VisualLinter/blob/master/CHANGELOG.md).
However It is not as easy to implement as one would think, having to replace the text in the buffer and not mess up Visual Studio features can prove quite difficult.

But since this now ha

[2018-03-01 14:05] glat opened #38 "Feature request: integrate also csslint"
Any plans to integrate also support for csslint to replace integrated VS 2017 support?

[2018-03-01 17:46] jwldnr commented on #38
Hi @glat and thank you for your feedback!

I have thought about this and I would like to implement this if enough people would request this feature.

If you're just now reading this and would like this feature to be implemented, let me know.
I'm sorry to say, but until then this feature is lower priority because I've just started working on another project, and don't have much spare time left.

Pu

[2018-03-08 11:38] glat commented on #38
I sent a PR just not to add support for Stylelint.
Check it and let me know.
Kind regards

[2018-03-08 13:37] jwldnr commented on #38
Cool @glat I'll check it out.

[2018-03-08 16:23] #38 closed

[2018-03-23 14:45] ChristineBoersen opened #40 "VS 2017 crashes when linting a Javascript file"
### Installed product versions
- Visual Studio: 2017 Enterprise 15.6.x
- This extension: 1.1.47

### Description
When attempting to save a Javascript file, Visual Studio Crashes, If you go into the debugger, it states

System.IO.FileNotFoundException
  HResult=0x80070002
  Message=**Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed

[2018-03-23 14:55] ChristineBoersen commented on #40
As a workaround, installing Newtonsoft.Json 10.0.2 in the GAC resolves the issue

[2018-03-28 09:04] jwldnr commented on #40
Hi @ChristineBoersen, and thanks for the report.
I've seen this issue with other assemblies as well. I'm not sure its related but I'll have to take a look..

[2018-03-28 10:07] jwldnr commented on #40
I've tried addressing this issue by adding `Newtonsoft.Json` as an asset.

I'll go ahead and close this issue but if updating the extension to `v1.1.59` does not work for you, post back here and I'll reopen this issue.

[2018-04-11 11:07] #40 closed

[2018-04-21 01:14] zcharleshebert opened #41 "Incompatibility with Extension Vue.js Pack 2017"
### Installed product versions
- Visual Studio: Visual Studio 2017 Enterprise
- This extension: 1.1.59
- Vue.js Pack 2017
### Description
The title summarize it, I believe.

### Steps to recreate
1. Have a already working Vuejs project with linting (via VisualLinter) works
2. Install latest version of Vue.js Pack 2017 extension
3. Open any .vue files
4. Eslint not working for .vue files, but still

[2018-04-21 06:30] jwldnr commented on #41
Hey @zcharleshebert !

Its absolutely fine to add the `[ContentType("projection")]` in the TaggerProvider class.
Send me a pull request and I'll make it happen!

For reference:
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/inside-the-editor.md#projection

[2018-04-21 08:13] jwldnr commented on #41
closed in #42

Thanks for the help @zcharleshebert !

[2018-04-21 08:13] #41 closed

[2018-04-21 08:16] jwldnr commented on #41
Feature added in `v1.1.60`.

[2018-04-21 18:24] zcharleshebert commented on #41
My pleasure @jwldnr !

[2018-04-25 15:33] Blackbaud-ThomasOrtiz opened #43 "Add ability to recognize files that extend the base .eslintrc rules"
### Installed product versions
- Visual Studio: 2017 profession
- This extension: 1.1.60

### Description
My team has the following files:

* `.eslintrc` - base rules
* `dev.eslintrc` - dev only rules that extend base rules found in `.eslintrc`
* `prod.eslintrc` - prod only rules that extend base rules found in `.eslintrc`

Currently, the extension only pulls the rules from `.eslintrc` meaning tha

[2018-04-25 15:38] jwldnr commented on #43
Thanks for the feature request @blackbaud!

I’ll have a look at this. It has been on my todo list for a while now since it’s the default behavior of eslint.

I’ll keep this issue open until I’ve reached a conclusion.

[2018-04-28 08:59] #43 closed

[2018-04-28 09:00] jwldnr commented on #43
Added in version `1.1.63`.

[2018-05-08 13:44] icoumans opened #45 "VS2017 closes and re-opens when saving a file with VisualLinter active"
### Installed product versions
- Visual Studio: 2017 Professional 15.7.0
- This extension: 1.1.63

### Description
Whenever I try to save a JS file with VisualLinter enabled, VS2017 will close and re-open. The changes are saved, though. This has only started occurring after updating to VS 15.7.0.

### Steps to recreate
1. Open a JS file to edit
2. Ensure VisualLinter is active
3. Make a change to

[2018-05-08 13:46] jwldnr commented on #45
Interesting. I haven’t updated visual studio to the latest version yet, but I’ll have to check it out. Thanks for the report!

[2018-05-08 13:52] icoumans commented on #45
I should add that I have tried a full re-install and repair install of the Visual Studio instances, and I've ran it in /SafeMode. The problem only occurs again after re-enabling VisualLinter. I'm making an offline installation of VS2017 15.6.7 at the moment, so I will report back tomorrow after I've downgraded my installation to see if the problem disappears.

For anyone else who might be having t

[2018-05-08 13:53] jwldnr commented on #45
Thanks for the additional details. I’ll get on this as soon as I get a chance!

[2018-05-08 15:01] jwbats opened #46 "VS Crashes On JS File Save After Update To 15.7"
### Installed product versions
- Visual Studio: 15.7 Community
- This extension: 1.1.63

### Description
Visual Studio updated. Now JavaScript file saves make VS crash.

Upon reopening the project, the file has been correctly saved. But you can't work with a crash for every JS save you do.

### Steps to recreate
1. Use the above VS version with the above VL version.

### Current behavior
VS crashe

[2018-05-08 15:30] jwldnr commented on #46
Thanks for the report, but this issue has already been reported. I’m going to close this in favor of #45.
Discussion will continue there. 👍

[2018-05-08 15:30] #46 closed

[2018-05-08 15:31] jwldnr commented on #45
In the meantime if someone finds a (quick) fix for this issue a pull request is always appreciated.

[2018-05-08 20:37] oceantume commented on #45
Apparently the dependency Newtonsoft.Json 10.0.3 can't be found at runtime. As a temporary fix you can make sure it finds the dll by adding it to the global cache via the gacutil tool or by adding it directly beside VisualLinter.dll in %LocalAppData%\Microsoft\VisualStudio\<Visual Studio version>\Extensions\<VisualLinter ext folder>

[2018-05-09 04:14] catcher-in-the-try commented on #45
Microsoft has confirmed to me that this issue is caused by VisualLinter. At first I thought it's the problem with Visual Studio 15.7.

[2018-05-09 05:00] jwldnr commented on #45
It’s definitely related to the extension. I’ll work on a fix ASAP.

[2018-05-09 05:59] jwldnr commented on #45
This should now be fixed in `v1.1.66`. The new version will soon be available for download.
I'm going to close this issue, however if things don't get better with the new version, post back here and I'll have another go at it.

For reference:
https://social.msdn.microsoft.com/Forums/vstudio/en-US/550ddfdc-027c-41ba-9b32-31e6391bc038/newtonsoftjsondll-not-included-in-vsix?forum=vsx

[2018-05-09 05:59] #45 closed

[2018-05-09 06:06] icoumans commented on #45
Thank you very much for the swift fix and workaround.

[2018-05-09 14:49] osudude commented on #45
Had similar issue.  After upgrading from VS 2017 15.6.4 to VS 2017 15.7.0, Visual Studio would crash upon saving changes to any JS file.  Had no idea it was related so I had to downgrade Visual Studio so that JS saves don't crash the IDE.

[2018-05-09 14:52] jwldnr commented on #45
@osudude This should be resolved in v1.1.66.

[2018-05-18 15:53] madskristensen opened #47 "Publish new version with fix for Newtonsoft.Json not found"
You don't actually have to include newtonsoft.json.dll in the .vsix. It is considered a bad practice to do so. You just have to use a lower version to make the binding redirects work in VS2017. Downgrade JSON.NET to version 8 and don't include it in the VSIX and it should work fine.

But regardless of downgrading or including the latest version, can you please update the extension on the Marketpla

[2018-05-18 16:40] madskristensen commented on #47
Don't do binding redirects. Visual STudio ships with those for JSON.NET. It's better to downgrade to version 8 to make sure it works with un-updated versions of VS2017. VS will automatically update it using binding redirects to version 9

[2018-05-18 16:42] jwldnr commented on #47
Alright @madskristensen, fair point.
Any specific version 8 or will any do?

[2018-05-18 16:43] madskristensen commented on #47
8.0.3 will do. Generally speaking, when using JSON.NET in a VS extension always use the lowest possible version you can. So if you can use version 6 in your extension then do that instead.

[2018-05-18 16:45] jwldnr commented on #47
Thanks @madskristensen, I must admit it has given me some headaches. I'll downgrade to `v8.0.3` and release it to the marketplace, but I'll be sure to research earlier versions as well.

[2018-05-18 16:46] madskristensen commented on #47
awesome

[2018-05-18 16:58] jwldnr commented on #47
fixed in #48
a new version will soon be available on the Marketplace. Thanks @madskristensen!

[2018-05-18 16:58] #47 closed

[2018-11-16 22:38] bohessner opened #49 "eslint-plugin-react needed?"
### Installed product versions
- Visual Studio: 2017 Community
- This extension: 1.1.73

### Description
Warning	internal-error	(ESLint) Failed to load plugin react: Cannot find module 'eslint-plugin-react'

### Steps to recreate
1. npm install -D eslint
2. Installed **VisualLinter** via Tools/Extensions and Updates...
3. Open a *.js file

### Current behavior
Warning	internal-error	(ESLint) Faile

[2018-11-17 05:48] jwldnr commented on #49
Please include your eslint config as well 👍🏼

[2018-11-17 13:33] bohessner commented on #49
Ah, got it.

After I added it I got this in **Output window** :

**File ignored by default.  Use a negated ignore pattern (like "--ignore-pattern '!<relative/path/to/filename>'") to override.**

It ignore my .eslintrc.js file even when I place it in the same folder as my *.js files.

When I insert the rules direct into my js file, ex: **/*eslint linebreak-style: ["error", "windows"]*/** then the r

[2018-11-17 14:16] jwldnr commented on #49
The message about the file ignored by default, is nothing to worry about. All it means is that your .eslintrc.js file is not being limited. The extension will still read its values when saving other .js files.

Your eslint config looks fine (does not require eslint-plugin-react)

There are two different options with the extension: reading eslint config values from global (e.g. ~/username/.eslintrc

[2018-11-17 14:50] bohessner commented on #49
Tools > Options > VisualLinter

**General** contains 3 checkboxes, they are all empty

**Language support** Only javascript are checked here

**Advanced** All checkboxes are empty

[2019-01-30 16:59] ihodev opened #52 "Doesn't mark errors in text editor for .vue files"
### Installed product versions
- Visual Studio: 2017
- This extension: 1.1.87

### Description

Doesn't show errors in text editor for `.vue` files.

### Steps to recreate
1. Create and open `hello.vue` file
2. Paste next contents
[code]
3. Lint

### Current behavior

![shot_190130_185140](https://user-images.githubusercontent.com/9801624/51998002-8a0ded00-24c0-11e9-9a5a-17919f5c0994.png)

### Exp

[2019-01-31 05:21] jwldnr commented on #52
Thank you for the detailed report!
I’ve seen this before with vue files. Have you checked the output window for VisualLinter to see if you are getting any messages?
They can often help identify the problem.

[2019-01-31 08:45] jwldnr commented on #52
Actually, I've pushed a new version (`1.1.88`) to the marketplace just now. Please update the extension and see if it makes any difference. 👍

[2019-01-31 09:34] ihodev commented on #52
Just updated. Unfortunately, it's still not working. And I think there is the same output in the `ActivityLog.xml`:

[code]

[2019-01-31 18:42] jwldnr commented on #52
I am able to reproduce this, however I haven't got enough time to look at it tonight. I'll have to take a closer look this weekend.

I'll let you know how it goes.

[2019-02-01 09:10] icoumans opened #53 "[babel-eslint/v11] Specified argument was out of the range of valid values. Parameter name: lineNumber"
### Installed product versions
- Visual Studio: 2017 Professional
- This extension: 1.1.89 (problem also existed with 1.1.88)

### Description
When running the extension, the following error is shown in the Output Window:
Specified argument was out of the range of valid values.
Parameter name: lineNumber

### Steps to recreate
1. Install the extension
2. Run Visual Studio
3. Open the Output Window

[2019-02-01 09:12] jwldnr commented on #53
Hi @icoumans could you create a reproducable

[2019-02-01 12:21] icoumans commented on #53
I really should have thought about my recent changes before posting this issue. I've been upgrading some packages to use the latest experimental proposals. It looks like the 'culprit' is babel-eslint 11.0.0-beta.0. I don't know whether this issue belongs to VisualLinter or babel-eslint.

When I disable the plugin, or downgrade the version, the issue no longer appears.

I have attached a simple tes

[2019-02-01 13:05] icoumans commented on #53
Yes, babel-eslint.

[2019-02-01 13:57] jwldnr commented on #53
Ok, It might be that they've changed something (probably index starting values) in v11 of eslint. I'll have to check. 😸

[2019-02-02 06:34] jwldnr commented on #52
There seem to be something wrong with the latest update I pushed, I will be reverting to the old version while I work on a fix.
Please "upgrade" your extension to version `1.1.90` which will soon be available on the marketplace.

For now, I'll close this issue but I will use it as reference to make sure future updates work as intended.
If you're still having problems after upgrading, please post h

[2019-02-02 06:34] #52 closed

[2019-02-02 08:04] jwldnr commented on #53
OK, I am able to reproduce this and like you said, its a compatibility problem with `babel-eslint@^11`. This is something I will have to look further into, but unfortunately don't have the time currently.
I will keep this issue open.

As a workaround you can downgrade `babel-eslint` to version 10.

[2019-04-11 15:06] ihodev opened #54 "Add support of typescript files (`.ts`)"
ESLint already has support of typescript

[2019-04-11 15:21] raix commented on #54
Same issue here - would be great if possible to configure extensions eg. js,jsx,ts,tsx
Only javascript is available atm. ref https://github.com/jwldnr/VisualLinter/blob/master/src/VisualLinter/VisualLinterOptions.cs#L47

[2019-04-11 16:19] jwldnr commented on #54
This should be easy enough to implement, thanks for the suggestion!
Could either of you do me the favor and share a simple Visual Studio project (hosted on github) with the required dependencies in order for this to work (defined in `package.json`) so that I can test/include the information in the documentation.

Thank you in advance.

[2019-05-16 20:36] cvs-mrussell commented on #54
Hi @jwldnr, I stumbled upon this issue, because I have the same need - to be able to run ESLint within Visual Studio 2017 on Typescript files.

I saw that you had asked that someone provide a sample VS project for testing. Here's a super basic ASP.net MVC project, with a single, simple TS file. There's some information about it in the readme. I hope it can help, or ping me if you need anything fur

[2019-05-17 05:43] jwldnr commented on #54
@cvs-mrussell Perfect! Exactly what I requested.
I'll keep you guys updated~

[2019-05-19 07:35] jwldnr commented on #54
I've looked at implementing this, but found that there's something funky about how the eslint config property `parserOptions.project` is resolved.

From the `@typescript-eslint/eslint-plugin` docs:

![typescript](https://user-images.githubusercontent.com/11960421/57978901-c173bb80-7a15-11e9-8123-d9686b925cd6.png)

Here's the problem:
When the `VisualLinter` linting process is run-- but has a diffe

[2019-05-19 18:57] jwldnr commented on #54
I've received an reply from the @typescript-eslint devs and I'll have to make adjustments to the underlying code before releasing this in a new version.

Sidenote: I totally overlooked the `tsconfigRootDir` property..

[2019-05-20 13:10] cvs-mrussell commented on #54
Thanks for the detailed updates, I really appreciate you looking into this. If I can help with testing or anything, let me know.

[2019-05-25 08:23] #54 closed

[2019-05-25 08:23] jwldnr commented on #54
I've added TypeScript support in #55.
A new version of VisualLinter will soon be available on the Marketplace. Please upgrade your extension and open a new issue if you find any bugs~

Thanks for the help @cvs-mrussell!

[2019-06-03 13:57] rbmanian75 opened #56 "Unexpected character encountered while parsing value: =. Path '', line 0, position 0."
We have installed this extension in VS2019 and whenever we make a change to file and save it we are getting the error

Unexpected character encountered while parsing value: =. Path '', line 0, position 0.

However the errors are displayed in the error list. Dont know which is causing the issue.

this is the config file we have

module.exports = {
    parser: '@typescript-eslint/parser', // Specifi

[2019-06-03 14:14] jwldnr commented on #56
Hey @rbmanian75 thanks for the report. Could you share the source code for the file throwing the error?

[2019-06-03 14:19] rbmanian75 commented on #56
Oh sorry we cant share the source. Since it is part of big project. But when i run eslint from command line it works without any errors.

[2019-06-03 14:21] rbmanian75 commented on #56
but i get this in the output

[{"filePath":"C:\\S\\SGC\\Sgc.Web\\Sgc.Web\\Scripts\\Default.ts","messages":[{"ruleId":"@typescript-eslint/prefer-namespace-keyword","severity":2,"message":"Use 'namespace' instead of 'module' to declare custom TypeScript modules.","line":1,"column":1,"nodeType":"TSModuleDeclaration","messageId":"useNamespace","endLine":485,"endColumn":2,"fix":{"range":[0,6],"text":"n

[2019-06-03 14:31] jwldnr commented on #56
Ok. I'll have a look tomorrow. You can edit your comment above as it contains some information you might not want to share. Just a heads up.

I have what I need to debug this issue though. Thanks!

[2019-06-06 05:54] jwldnr commented on #56
@rbmanian75 Could you share your package json, including versions for installed dependencies?
Thanks!

[2019-06-06 08:38] rbmanian75 commented on #56
Thank you for the reply.

Here it goes what you have asked for

"dependencies": {
  "@angular/common": "8.0.0",
  "@angular/compiler": "8.0.0",
  "@angular/core": "8.0.0",
  "@angular/forms": "8.0.0",
  "@angular/http": "7.2.15",
  "@angular/platform-browser": "8.0.0",
  "@angular/platform-browser-dynamic": "8.0.0",
  "@angular/router": "8.0.0",
  "@angular/upgrade": "8.0.0",
  "angular-in-memory-

[2019-06-08 05:54] jwldnr commented on #56
Hi @rbmanian75

The cause of this error is because the `typescript-eslint` dependency `typescript-estree` is using stdout to warn about an unsupported TypeScript version. See below:

[code]
Source:
https://github.com/typescript-eslint/typescript-eslint/blob/5d2b9626d86ca0ef14c2a45c233f096f356bccbd/packages/typescript-estree/src/parser.ts#L259

VisualLinter expect the output to be json, but since t

[2019-06-08 05:54] #56 closed

[2019-06-11 08:52] rbmanian75 commented on #56
thanks for the reply. It helped in solving the issue.

but small correction

warnOnUnsupportedTypeScriptVersion: false in your package.json under parserOptions

this has to be done in the eslint configuration file and not in package.json.

[2019-06-11 08:54] jwldnr commented on #56
@rbmanian75 of course! I've edited the response above. Thanks!

[2019-07-09 13:18] mklosterboer opened #57 "Add Support for TypeScript JSX files (TypeScript React) (.tsx)"
### Installed product versions
- Visual Studio: 2019 Professional
- This extension: 1.1.100

### Description
Add support for TypeScript React files (.tsx)

### Steps to recreate
N/A

### Current behavior
Currently you can enable .jsx and .ts files, but TypeScript JSX files, i.e. TypeScript React files are not linted in Visual Studio.

### Expected behavior
This would require the correct plugins fo

[2019-07-09 13:20] jwldnr commented on #57
Hey @mklosterboer
Sounds good to me. If you'd create a pull request for this change I'll be happy to review it! Let me know if I can help.

[2019-07-09 13:56] mklosterboer commented on #57
Perfect. I'll work on that and get a PR started. Thanks for the quick response!

[2019-07-09 15:45] mklosterboer commented on #57
@jwldnr
This may be a silly question, but I'm having trouble building the solution to test it because of what looks like some custom tools.

I am unable to test as a result of this, but I am pretty sure I'm done.

How do you feel about either of these options:

1. Building my branch and giving me the VSIX file to test
1. Me submitting a PR and you do any testing you would have done as part of the

[2019-07-09 16:11] mklosterboer commented on #57
@jwldnr
Nevermind. I figured out the issue. I'm was able to test it and I'm going to open a PR now. It looks like it's working like charm.

[2019-07-10 13:21] #57 closed

[2019-07-16 12:54] jpx2001 opened #59 "Visual Studio 1017 - No Local Eslint Found"
### Installed product versions
- Visual Studio: 2017 Enterprise Version 15.9.12
- This extension: [1.1.104]

### Description
VisualLinter prints "exception: no local eslint found"

However, ESLint shows warnings and bugs in the Error window. I don't know if the Output window text is wrong or if this is a real problem.

### Steps to recreate
1. Build or rebuild an ASPNet MVC project that has javasc

[2019-07-16 13:20] jwldnr commented on #59
Hey @jpx2001!
Are you sure that you've installed eslint locally (e.g. exists in your `package.json`) and it is VisualLinter that are reporting the errors in the error list?
You see, Visual Studio 2017, and newer, has built in ESLint support. The difference between VisualLinter and the built in functionality is that VisualLinter will always use the ESLint version you've installed in your project, w

[2019-07-16 15:28] jpx2001 commented on #59
Jean,

Thank you so much for your quick response.

I have eslint installed globally and a package.config file in the root of my repository source folder.

·         Do I need to install eslint locally to each web project?

·         Can I install locally to the solution folder?

Thanks

From: Jean Alexander Woldner <notifications@github.com>
Sent: Tuesday, July 16, 2019 8:20 AM
To: jwldnr/VisualLi

[2019-07-16 16:15] jwldnr commented on #59
No problem!
The default behavior is set to use a local installation of ESLint (per project).

If you wish to use a global ESLint installation, you will need to enable this option in Visual Studio under `Tools` > `Options` > `VisualLinter`.

See the [notes](https://github.com/jwldnr/VisualLinter#notes) section of the readme on how to configure global installation and/or config settings. 😸

[2019-07-29 17:56] pmcelhaney commented on #59
I'm on Visual Studio 2019 (16.1.3) and getting the same error.

I have ESlint installed locally. Running `./bin/eslint .` works fine. The built-in version is also running the locally installed ESLint.

[2019-08-12 18:36] ImportTaste opened #60 "Add the terms 'visual' and 'visual linter' to search tags on VS Marketplace"
Currently, if you search for 'visual linter' instead of 'visuallinter', it doesn't show up at all in the first page of results. I believe this is because 'visual' and 'visual linter' are missing from the tags.

[2019-08-13 06:30] jwldnr commented on #60
Hi @ImportTaste!
Thank you for the suggestion. We should definitely do this!
I'll get on it once I get some free time.

[2019-08-13 06:33] jwldnr commented on #59
Could you share the full path to the file you're trying to lint and also the full path to where eslint is installed (in node_modules)

Thanks

[2019-08-13 10:49] pmcelhaney commented on #59
It’s something like z:\code\project\file.js

ESLint and the plugin are installed at z:\code\project\package.json

The problem is ESLint looks for plugins relative to the current working directory, which is the user directory when run from Visual Studio.

[2019-09-02 08:21] poganytamastsys commented on #37
Any news on implementing this feature?

[2019-10-11 08:39] Indigo744 commented on #59
Same issue on VS 2019.

VisualLinter configured to use local install (and analyze only ts/tsx files).
ESLint is installed in the project.
Running eslint manually works fine.

![image](https://user-images.githubusercontent.com/7137528/66637441-540a3680-ec13-11e9-9200-926a1f048695.png)

![image](https://user-images.githubusercontent.com/7137528/66637473-62585280-ec13-11e9-9e3a-59c8a8f27f2c.png)

[2019-10-28 14:40] pmcelhaney opened #61 ""The path is not of a legal form""
### Installed product versions
- Visual Studio: Professional 2017
- This extension: 1.1.0

### Description
The output from Visual Linter is "The path is not of a legal form".

The file I have open is at `C:\Code\RC\BackOffice\Presentation\app\cache\expirationCache.js`

### Steps to recreate
1. Install Visual Linter
2. Open a JS file
3. Look at the output for Visual Linter

### Current behavior
Tha

[2019-10-31 11:21] HolgerJeromin opened #62 "Special handling for typescript definitions"
### Installed product versions
- Visual Studio: [example 2019 Professional]
- This extension: [example 1.1.104]

### Description
TypeScript Definitions are often auto generated or from third party, so I do not want linting hints for them.

### Steps to recreate
Just an example:
* Add rule for single quote.
* Open a TypeScript definition file `.d.ts` which was generated from my compiler. Every sing

[2019-11-01 09:12] Indigo744 opened #63 "Visual Linter not displaying any error in Visual Studio"
### Installed product versions
- Visual Studio: 2019 Professional (16.3.7)
- This extension: 1.1.0

### Description
No error are shown in Visual Studio.

I have Visual Linter configured for *.ts and *.tsx files only.
ESlint is setup locally and working.

### Steps to recreate
1. Run ESLint in command line
1. See that errors are found
1. In Visual Studio, open a TSX file
1. See no errors

### Curre

[2019-11-01 09:19] Indigo744 commented on #63
Ah, more information!

Interestingly, I was able to make it work by activating JS file:
![image](https://user-images.githubusercontent.com/7137528/68014600-5864c500-fc90-11e9-862b-f0b09a437358.png) ==> ![image](https://user-images.githubusercontent.com/7137528/68014611-5ef33c80-fc90-11e9-97a4-75c4619047c8.png)

If I can make a wild guess, the related error (`eqeqeq`) is a Javascript error (and not

[2019-11-01 09:27] Indigo744 commented on #63
Wow now I can't reproduce what I just said. The error is simply gone again, with or without activating JS files.

There is something seriously wrong with this plugin.

[2019-11-01 18:31] cymptom commented on #37
As @giolvani said, the `Format Document On Save` extension allows specifying a command to be run on save. So, if it makes it simpler to implement, `VisualLinter` might only need to expose a Visual Studio Command for running ESLint on the active file.

There is a workaround for doing this now, but it's not pretty. It involves configuring an "External Tool" command -- something like this:
`cmd.exe /

[2019-11-08 19:29] mdodge-ecgrow opened #64 "red squigglies don't go away"
### Installed product versions
- Visual Studio: [example 2015 Professional]
- This extension: [example 1.1.21]
Visual Studio Professional 2017
Visual Linter 1.1.0

### Description
Replace this text with a short description
In my App.js file, I removed a bunch of code to see if it would cause other code to error out due to 'no-unused-vars'.  It worked and added the red squigglies to those import st

[2019-11-15 21:14] Mrsevic commented on #63
I have experienced the same behaviour, I just wanted to enable the linting for *.ts files but to no avail.

[2019-11-15 22:12] Indigo744 commented on #63
Since I opened this issue, this plugin has been working on and off. Sometimes it shows an error, sometimes it doesn't. Sometime it says it can't find eslint.

I didn't identified any root cause for now. It happens on different files, on different projects, regarding different errors...

[2019-11-15 22:17] Mrsevic commented on #63
I am currently experimenting with this extension. Seems much sleeker:
https://github.com/glat/MultiLinter

[2019-11-16 05:26] woldner commented on #37
Sorry everyone; but the development of this extension has been suspended.
You can read more about it here:
https://github.com/jwldnr/VisualLinter#deprecated

[2019-11-16 05:26] #37 closed

[2019-11-16 05:27] woldner commented on #53
Sorry everyone; but the development of this extension has been suspended.
You can read more about it here:
https://github.com/jwldnr/VisualLinter#deprecated

[2019-11-16 05:27] #53 closed

[2019-11-16 05:27] woldner commented on #59
Sorry everyone; but the development of this extension has been suspended.
You can read more about it here:
https://github.com/jwldnr/VisualLinter#deprecated

[2019-11-16 05:27] #59 closed

[2019-11-16 05:27] woldner commented on #60
Sorry everyone; but the development of this extension has been suspended.
You can read more about it here:
https://github.com/jwldnr/VisualLinter#deprecated

[2019-11-16 05:27] #60 closed

[2019-11-16 05:27] woldner commented on #61
Sorry everyone; but the development of this extension has been suspended.
You can read more about it here:
https://github.com/jwldnr/VisualLinter#deprecated

[2019-11-16 05:27] #61 closed

[2019-11-16 05:27] woldner commented on #62
Sorry everyone; but the development of this extension has been suspended.
You can read more about it here:
https://github.com/jwldnr/VisualLinter#deprecated

[2019-11-16 05:27] #62 closed

[2019-11-16 05:27] woldner commented on #63
Sorry everyone; but the development of this extension has been suspended.
You can read more about it here:
https://github.com/jwldnr/VisualLinter#deprecated

[2019-11-16 05:27] #63 closed

[2019-11-16 05:27] woldner commented on #64
Sorry everyone; but the development of this extension has been suspended.
You can read more about it here:
https://github.com/jwldnr/VisualLinter#deprecated

[2019-11-16 05:27] #64 closed

[2019-11-16 09:09] Indigo744 commented on #63
I'm sorry @jwldnr, but I'll use this thread to report about https://github.com/glat/MultiLinter and our discussion with @glat

@Mrsevic  since you tried the extension, you should read this.

Alright so I went to https://github.com/glat/MultiLinter and asked about where is the source code, since I prefer to have a look at what I'm about to install on my machine (and all our team machine). The conve

[2019-11-16 09:14] glat commented on #63
Do what you want. Feel free to contact Microsoft. Feel free to delete the extension on the marketplace. The source will remain closed. I sent a pull request on this old extension and the author filled me with comments on what I should wrote and on what extension I should use to improve my source code (Resharper). I hate resharper and I hate non-constructive criticism.

I made your work and deleted

[2019-11-16 09:53] woldner commented on #63
I honestly have no idea how I got dragged into this.

The development of VisualLinter has been discontinued. And since this project is licensed under MIT anyone has the right to use this code in their own project.

[2019-11-16 10:00] glat commented on #63
I contacted @Mrsevic by email.

If he agrees to not publish it I will send him the source code to check for any malware you ARE DESPERATELY SEARCHING so he can give a third party opinion.

To @Mrsevic if you want to help me feel free to contact me by repling my email.

Again, MultiLinter is a complete REWRITE and again, IT'S MY CHOICE TO NOT PUBLISH THE SOURCE CODE. YOU ARE FORCING ME TO DO IT and

[2019-11-16 10:47] Mrsevic commented on #63
First of all, to the both authors thank you for your hard work, I am sure that it is appreciated by many users who like me downloaded the extension but choose not to leave the rating before properly testing it.

If there is one trend that has been happening recently that I hate in it's very root, it is the mob justice which thankfully didn't happened here. I sincerely hope that @Indigo744 never ha

[2019-11-16 11:03] glat commented on #63
@Mrsevic thanks for your words.

@jwldnr you are not involved in this except because you were the motivation for the birth of MultiLinter.

To any other MultiLinter users I'm evaluting about on continue to support the extension outside of GitHub and the marketplace (where uncorrect reviews comes all days) by creating a web page.

Even today is not the day to think about that.

To any others asking

[2019-11-16 13:10] Indigo744 commented on #63
Wow this has gotten out of hand so quickly.

I opened an issue and politely ask a simple, honest question. I was expecting an answer along the line of _"I prefer to keep it close because X and Y, I hope you understand, thank you for your interest"_. You know, a simple answer. Two human being communicating. I would have shrugged and move on. His code, his choices.

Then, I don't know why, @glat sta

[2019-11-16 13:36] glat commented on #63
Well, if this is your reply MultiLinter has died.

[2019-11-16 14:08] glat commented on #63
So you've no problem about closed-source?

![image](https://user-images.githubusercontent.com/569200/68994319-f4422380-0881-11ea-81a4-20d879e312ef.png)

You started that issue because you was *claiming* to find the source code. Well, I've some news:

1. That is not the kind of issue you've to open. I accept issue about bugs and that was opened and resolved in *hours*
2. You should not expect to fi

[2019-11-16 14:39] Indigo744 commented on #63
Who called you insane? When? I said your reaction was _weird_. That your answers were _off_.

_That_ is why I asked what is the issue about us talking about your source code. You are the one making it sounds like it's a crime. Are you under duress or something?

I continued to try to discuss because you never actually answered. You kept giving evasive reply. Then you deleted the thread. This is cl

[2019-11-16 14:41] glat commented on #63
![image](https://user-images.githubusercontent.com/569200/68994831-88fb5000-0887-11ea-8f68-b88f595cde83.png)

Well I know how to take screenshot as well. You continue on this way... Furthermore:

![image](https://user-images.githubusercontent.com/569200/68995038-a7fae180-0889-11ea-9b75-590dd66c814a.png)

I never answered? Read above. MultiLinter *was* and *will be* forever a closed source. Do you

[2019-11-16 15:20] Indigo744 commented on #63
Well, you never actually answered in the original thread, before deleting it, which started this whole shenanigans. You didn't even say that it was closed-source. I had to start reporting it here for you to come over and start properly explaining.

Do you understand?

What? No, I am not asking for your code! I even said _"your code, your choice"_ (well it was more _"his code, his choice"_ but I wa

[2019-11-16 15:23] glat commented on #63
Well, to be clear:

1. Two posts above I was non answering, now I answered here.
2. Even now you are stating that I forked VisualLinter.
3. I'm really happy you didn't touch my code. I never will be.
4. So you finally stated that I'm off or insane. Great.
5. I've no obligation to answer what you want when you want. I asked to close the issue *two* times because I did not want to discuss about it.